<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hola</h1>
    <a href="https://www.utez.edu.mx">Salir del sitio</a>
    <script>
        document.querySelector('a').forEach(link => {
            link.addEventListener('click', e => {
                e.preventDefault()
                documents.body.style.animation = 'fadeOut 2s forwards'
                setTimeout(() => {
                    window.location.href = this.href;
                }, 2000);
            })
        })
    </script>
</body>
</html>